
<div class="file-upload">
  <div class="file-select">
    <div class="file-select-button" id="fileName">Buscar archivo</div>
    <div class="file-select-name" id="noFile">{{nombreArchivo}}</div> 
    <input type="file" name="chooseFile" #inputFile (change)="leerArchivo($event)">
  </div>
</div>
<br>
<br>
<div>
   <!-- <div *ngIf="resultados.length > 0">
      <table >
          <thead>
            <tr>
              <td>Origen</td>
              <td>Destino</td>
              <td>Distancia</td>
              <td>Tiempo</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let datos of item[t].destinationAddresses.length; let i = index">
              <td>{{ datos.originAddresses[i] }}</td>
              <td>{{ datos[i] }}</td>
              <td>{{ datos.rows[0].elements[i].distance.text }}</td>
              <td>{{ datos.rows[0].elements[i].duration.text }}</td>
            </tr>
          </tbody>
        </table> 
  </div> -->
</div>

